.sectionProjects {
  margin-bottom: 10rem;
}
.project {
  height: 25rem;
  min-width: 30rem;
  /* background-color: #1c1c1c; */
  margin-right: 0.8rem;
  position: relative;
}
.project img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  filter: grayscale(1);
  transition: 500ms;
}
.link {
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: visibility 300ms, opacity 300ms, linear;
  font-size: 1.6rem;
  position: absolute;
  margin-top: 3px;
  transition: 300ms;
  cursor: pointer;
}
.project:hover > .link {
  visibility: visible;
  opacity: 1;
}
.project img:hover {
  filter: initial;
  visibility: visible;
  opacity: 1;
}
.title {
  padding: 0 5rem;
  font-size: 3.4rem;
  background: linear-gradient(
    90.06deg,
    rgba(230, 26, 122, 0.92) -11.91%,
    #f85959 59.48%
  );
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.container {
  display: flex;
}
.container a {
  cursor: grab;
}
.container a:visited {
  color: var(--text);
}
.containerProjects {
  /*   display: flex;
  justify-content: center; */
  max-width: 1200px;
  margin: 0 auto;
  cursor: grab;
}
.containerProjects:active {
  cursor: grabbing;
}
@media (hover: none) {
  .project img {
    filter: initial;
    visibility: visible;
    opacity: 1;
  }
  .project > .link {
  visibility: visible;
  opacity: 1;
}
}
