.sectionProjects{
  margin-bottom: 30rem;
}
.project {
  height: 15rem;
  min-width: 25rem;
  background-color: #1C1C1C;
  margin-right: .8rem;
}
.title {
  font-size: 3.4rem;
  background: linear-gradient(
    90.06deg,
    rgba(230, 26, 122, 0.92) -11.91%,
    #f85959 59.48%
  );
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5rem;
  margin-left: 5rem;
}
.container {
  display: flex;
}
