.sectionProjects {
  margin-bottom: 30rem;
}
.project {
  height: 20rem;
  min-width: 30rem;
  background-color: #1c1c1c;
  margin-right: 0.8rem;
}
.title {
  font-size: 3.4rem;
  background: linear-gradient(
    90.06deg,
    rgba(230, 26, 122, 0.92) -11.91%,
    #f85959 59.48%
  );
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.container {
  display: flex;
}
.containerProjects {
  /*   display: flex;
  justify-content: center; */
  max-width: 1200px;
  margin: 0 auto;
}
