.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-bottom: 8rem;
}
.service:nth-child(even) {
  margin-left: 7rem;
}
.iconContainer {
  background: linear-gradient(
    90.06deg,
    rgba(230, 26, 122, 0.92) -11.91%,
    #f85959 59.48%
  );
  height: 4rem;
  width: 4rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconContainer svg {
  height: 2rem;
  width: 2rem;
}
.title {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
  text-align: center;
}
.text {
  font-size: 1.7rem;
  text-align: center;
}
