.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20rem;
  max-width: 1200px;
}
.info {
  width: 60%;
}
.title {
  font-size: 3.4rem;
  background: linear-gradient(
    90.06deg,
    rgba(230, 26, 122, 0.92) -11.91%,
    #f85959 59.48%
  );
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.6rem;
}
.text {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.downloadCurriculum {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.7rem;
  background: linear-gradient(
    90.06deg,
    rgba(230, 26, 122, 0.92) -11.91%,
    #f85959 59.48%
  );
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
}
.downloadCurriculum svg {
  color: #e2306a;
  margin-left: 0.8rem;
}
.tech {
  display: flex;
  flex-wrap: wrap;
  width: calc(20rem + 0.8rem * 4);
}
.tech div {
  height: 10rem;
  width: 10rem;
  background: linear-gradient(
    109.35deg,
    rgba(255, 255, 255, 0.4) -96.47%,
    rgba(255, 255, 255, 0.1) 2.59%
  );
  backdrop-filter: blur(40px);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8rem;
}
.tech div img {
  height: 7rem;
  width: 7rem;
}
