.home {
  display: flex;
  justify-content: space-between;
  margin: 7rem auto 0 auto;
  max-width: 1200px;
  padding: 0 5rem;
}
.gretting div {
  /*  */
}
.container {
  margin-top: 10rem;
}
.gretting {
  font-size: 2.4rem;
  display: flex;
}
.grettingHand {
  animation: wave 2.1s 0.6s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
  margin: 0 0.5rem;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.info {
  margin: 1.2rem 0 3rem 0;
}
.info h1 {
  font-size: 7rem;
  /* animation: flow 10s ease-in-out infinite; */
  background: linear-gradient(
    90.06deg,
    rgba(230, 26, 122, 0.92) -11.91%,
    #f85959 59.48%
  );
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* @keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
 */
.info p {
  font-size: 2rem;
}

.characterContainer {
  position: relative;
}
.blob,
.character,
.blobBlur,
.characterBlur {
  position: absolute;
  top: 0;
  right: 0;
  width: 35rem;
}
.characterBlur,
.character {
  top: 6rem;
  right: 1;
}
/* .blob,
.blobBlur {
  position: absolute;
  top: 0;
  width: 50rem;
  right: -5rem;
}

.character,
.characterBlur {
  position: absolute;
  top: 6rem;
  right: 1px;
  width: 35rem;
} */
.blobBlur {
  filter: blur(70px);
}
.characterBlur {
  filter: blur(30px);
}
.btnsContainer {
  display: flex;
}
.btnsContainer a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 3.2rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.3rem;
  text-decoration: none;
}
.btnContact {
  border: none;
  background: linear-gradient(90.06deg, #e61a7aeb -11.91%, #f85959 99.48%);
  color: var(--text);
  margin-right: 1.6rem;
  transition: 200ms;
}
.btnContact:hover {
  box-shadow: 0 0 10px #f4545c;
}
.btnCv {
  background: none;
  border: 1px solid var(--main);
  color: var(--main);
  transition: 200ms;
}
.btnCv:hover {
  background: #f85959;
  color: var(--text);
  border: none;
}
@media (max-width: 900px) {
  .home {
    flex-direction: column;
    align-items: center;
  }
  .blob,
  .character,
  .blobBlur,
  .characterBlur {
    right: calc(50% - 35rem / 2);
    margin: 0 auto;
  }
  /*   .character,
  .characterBlur {
    right: calc(50% - 35rem / 2);
    margin: 0 auto;
  }
  .blob,
  .blobBlur {
    right: calc(50% - 50rem / 2);
    margin: 0 auto;
  } */
  .characterContainer {
    margin-bottom: 30rem;
  }
}
@media (max-width: 500px) {
  .home {
    padding: 0 2rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info {
    text-align: center;
  }
  .btnsContainer {
    display: flex;
    flex-direction: column;
  }
  .btnContact {
    margin-bottom: 2rem;
  }
}
