.home {
  display: flex;
  justify-content: space-between;
  margin: 7rem auto 0 auto;
  max-width: 1200px;
  padding: 0 5rem;
}
.container {
  margin-top: 10rem;
}
.gretting {
  font-size: 2.4rem;
}
.info {
  margin: 1.2rem 0 3rem 0;
}
.info h1 {
  font-size: 7rem;
  /* animation: flow 10s ease-in-out infinite; */
  background: linear-gradient(
    90.06deg,
    rgba(230, 26, 122, 0.92) -11.91%,
    #f85959 59.48%
  );
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* @keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
 */
.info p {
  font-size: 2rem;
}

.characterContainer {
  position: relative;
}
.blob,
.character,
.blobBlur,
.characterBlur {
  position: absolute;
  top: 0;
  right: 0;
  width: 35rem;
}
.characterBlur,
.character {
  top: 6rem;
  right: 1;
}
.blobBlur {
  filter: blur(70px);
}
.characterBlur {
  filter: blur(30px);
}

.btnsContainer button {
  width: 18rem;
  height: 3.2rem;
  border-radius: 10px;
}
.btnContact {
  border: none;
  background: linear-gradient(90.06deg, #e61a7aeb -11.91%, #f85959 99.48%);
  color: var(--text);
  margin-right: 1.6rem;
}
.btnCv {
  background: none;
  border: 1px solid var(--main);
  color: var(--main);
}
@media (max-width: 900px) {
  .home {
    flex-direction: column;
    align-items: center;
  }
  .blob,
  .character,
  .blobBlur,
  .characterBlur {
    right: calc(50% - 35rem / 2);
    margin: 0 auto;
  }
  .characterContainer {
    margin-bottom: 30rem;
  }
}
@media (max-width: 500px) {
  .home {
    padding: 0 2rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info {
    text-align: center;
  }
  .btnsContainer {
    display: flex;
    flex-direction: column;
  }
  .btnContact {
    margin-bottom: 2rem;
  }
}
