.nav {
  margin: 3rem auto 0 auto;
  max-width: 1200px;
  padding: 0 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 2rem;
}

.navNavigation {
  display: flex;
}
.navNavigation ul {
  display: flex;
  list-style: none;
}
.navNavigation ul li {
  margin-right: 4.4rem;
}
.navNavigation ul li a {
  color: var(--text);
  text-decoration: none;
}
.navNavigation ul li a:hover {
  color: var(--main);
  transition: 30ms;
}
.navNavigationBrand {
  font-weight: 700;
  margin-right: 2rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navNavigationBrand::after {
  content: "|";
  font-weight: 100;
  font-size: 1.6rem;
  margin-left: 1.2rem;
}
.navNavigationBrand span {
  color: var(--main);
}
.navSocial {
  display: flex;
}
.navSocial a {
  margin-left: 2rem;
  color: var(--text);
  font-size: 2.4rem;
}
.navSocial a:hover {
  color:var(--main);
  transition: 30ms;
}
.hamburguerBtn {
  display: none;
  border: none;
  background: none;
  margin-right: 2rem;
}
.hamburguerBtn svg {
  color: white;
  font-size: 2.3rem;
}

@media (max-width: 900px) {
  .navNavigation ul {
    display: none;
  }
  /* Haburguer Menu */
  .active {
    flex-direction: column;
    align-items: center;
    overflow: visible;
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    justify-content: start;
    background: var(--background);
    z-index: 10;
    margin: 0;
    /* padding-top: 5rem; */
  }
  .active ul {
    display: inline-block;
    flex-direction: column;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
  }
  .active .navNavigation {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90%;
    justify-content: center;
  }
  .active .navNavigation .hamburguerBtn,
  .active .navNavigation .navNavigationBrand,
  .active .navNavigation ul li {
    margin: 0;
  }
  .active ul {
    flex-direction: column;
  }
  .navNavigationBrand::after {
    content: none;
  }
  .active .navNavigationBrand {
    padding-top: 5rem;
  }
  .hamburguerBtn {
    display: block;
  }
  .active .hamburguerBtn {
    padding-top: 5rem;
  }
  .active .hamburguerBtn svg:hover {
    transform: rotate(90deg);
    transition: 1000ms;
    color: var(--main);
  }

  .active .navSocial a {
    margin: 0;
  }
  .active .navSocial a:nth-child(1) {
    margin-right: 2.4rem;
  }
}
@media (max-width: 500px) {
  .nav {
    padding: 0 2rem;
  }
}
