.sidebar {
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 500ms, visibility 0ms 500ms;
  background-color: red;
}

.active {
    visibility: visible;
    transform: translateX(0);
    transition: transform 500ms;
    background-color: red;
}
