.container {
  margin: 0 5rem 15rem 5rem;
}
.info {
  margin-bottom: 5rem;
  text-align: center;
}
.title {
  font-size: 3.4rem;
  background: linear-gradient(
    90.06deg,
    rgba(230, 26, 122, 0.92) -11.91%,
    #f85959 59.48%
  );
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text {
  font-size: 1.7rem;
}
.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  background: linear-gradient(
    109.35deg,
    rgba(255, 255, 255, 0.4) -96.47%,
    rgba(255, 255, 255, 0.1) 2.59%
  ) !important;
  border-radius: 12px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 42rem !important;
  width: 30rem !important;
  padding: 3rem 3rem 3rem !important;
  margin: 1.2rem !important;
  color: var(--text) !important;
  line-height: initial !important;
}
/* .card:nth-child(odd){
    margin: 0 5rem;
    margin-top: 8rem;
} */
.card img {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  margin-bottom: 1.2rem;
}
.cardName {
  font-weight: bold;
  font-size: 2rem;
}
.cardTitle {
  font-size: 1.3rem;
  margin-bottom: 1.8rem;
}
.cardText {
  font-size: 1.8rem;
  text-align: center;
}
@media (max-width: 500px) {
  .container {
    margin: 0 2rem 15rem 2rem;
  }
}
